<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/CoronavirusFamily.PNG">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- <h1>{{title}}</h1> -->
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/CoronavirusFamily.PNG">
        </div>
        {{>footer}}
    </body>
</html>